<h2> Update User Info </h2>
<<%=flash[:errors]%> 

<form action='/users/<%=@user.id %>' method='post'>
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input type='hidden' name='_method' value='patch'>

<p>First Name:</p>
<input type='text' name='first_name'>
<br>

<p>Last Name:</p>
<input type='text' name='last_name'>

<br>

<p>Email:</p>
<input type='text' name='email'>

<p>Password:</p>
<input type='text' name='password'>

<br>
<br>
<input type='submit' value='Update'>
</form>
<br>
 <a href="/">Back</a>
 <a href="/users/<%=@user.id %>/">Show</a>